@using SportsData.Models
@model NFLPlayersViewModel
@{
	//Layout = "_layout";
	ViewData["title"] = "NFL Players";
}

<head>
	<link rel="stylesheet" href="~/css/common.css">
	
</head>

<!--Sorting and navigation-->
<div style="display: flex; gap: 10px;">

	<!--Page numbers-->
	<div style="width: 160px;">
		<p style="margin-bottom: 2px; margin-right: 10px; float: left; text-align: center;">Page</p>
		<br />
		<div style="display: flex; gap: 10px; float: left;">
			<input type="text" min="1" max="@Model.MaxPage" id="pageInput" value="@Model.CurrentPage" style="text-align: right; margin-top: 3px; width: 80px; height: 20px" />
			<p> / @Model.MaxPage</p>
		</div>
	</div>

	<!--Active selection-->
	<div class="dropdown" style="margin-bottom: 10px; width: 100px;">
		<p style="color: black; text-align: left; margin-bottom: 2px;">Status</p>
		<select id="activeSelect" onchange="LoadActive()" style="float: left">
			<option>Any</option>
			<option>Active</option>
			<option>Retired</option>
		</select>
	</div>
</div>



<div style="display: flex; gap: 10px;">
	<a class="btn btn-primary" style="background-color:darkblue" asp-controller="nfl" asp-action="players"
	asp-route-page="1" asp-route-active="@(Model.IsActive.HasValue ? Model.IsActive.Value : "all")" asp-route-team="@Model.TeamID" asp-route-sort="@Model.SortOrder" role="button">&lt;&lt;</a>

	<a class="btn btn-primary" style="background-color:darkblue" asp-controller="nfl" asp-action="players"
	   asp-route-page="@(Model.CurrentPage > 1 ? Model.CurrentPage-1 : 1)" asp-route-active="@(Model.IsActive.HasValue ? Model.IsActive.Value : "all")"
	asp-route-team="@Model.TeamID" asp-route-sort="@Model.SortOrder" role="button">&lt;</a>

	<a class="btn btn-primary" style="background-color:darkblue" asp-controller="nfl" asp-action="players"
	   asp-route-page="@(Model.CurrentPage < Model.MaxPage ? Model.CurrentPage+1 : Model.MaxPage)" asp-route-active="@(Model.IsActive.HasValue ? Model.IsActive.Value : "all")"
	asp-route-team="@Model.TeamID" asp-route-sort="@Model.SortOrder" role="button">&gt;</a>

	<a class="btn btn-primary" style="background-color:darkblue" asp-controller="nfl" asp-action="players"
	   asp-route-page="@Model.MaxPage" asp-route-active="@(Model.IsActive.HasValue ? Model.IsActive.Value : "all")" asp-route-team="@Model.TeamID"
	asp-route-sort="@Model.SortOrder" role="button">&gt;&gt;</a>
</div>


<table class="table table-hover table-light table-striped" style="margin-top: 10px; overflow-x: clip; overflow-y: scroll;  border: 2px ridge darkblue; width: 100%; table-layout: fixed; vertical-align: middle;">
	<thead style="text-align:center; vertical-align: middle; padding: 5px;">
		<tr style="height: 50px;">
			<td id="headCell">
				<a asp-controller="nfl" asp-action="players"
				   asp-route-page="@Model.CurrentPage" asp-route-active="@(Model.IsActive.HasValue ? Model.IsActive.Value : "all")" asp-route-team="@Model.TeamID"
				asp-route-sort="@(Model.SortOrder == "name_asc" ? "name_desc" : "name_asc")">
					Player
				</a>
			</td>

			<td id="headCell" style="width: 300px;">
				Team
			</td>
			<td id="headCell" style="width: 120px;">
				Status
			</td>
		</tr>
	</thead>
	@if (Model != null)
	{
		<tbody style="text-align: center; padding: 5px; vertical-align: middle;">
			@foreach (NFLPlayerInfo player in Model.nflPlayers)
			{

				<tr style="vertical-align: middle;" onclick="Redirect('/nfl/player?id=@player.ID')">
					<td id="dataCell">
						@(player.Name ?? "Unknown")
					</td>

					<td id="dataCell" >
						@(player.TeamName ?? "None")
					</td>

					<td id="dataCell">
						@(player.IsActive.HasValue && player.IsActive.Value ? "Active" : "Retired")
					</td>

				</tr>

			}
		</tbody>
	}
</table>

<script>

	window.onload = SetActiveSelection();

	function SetActiveSelection()
	{
		let isActive = "@(Model.IsActive == null ? "null" : Model.IsActive)";
		if(isActive != "null")
		{
			document.getElementById('activeSelect').value = isActive === "True" ? "Active" : "Retired";
		}
		else
		{
			document.getElementById('activeSelect').value = "Any";
		}
	}

	let pageInput = document.getElementById('pageInput');
	pageInput.addEventListener('keydown', function(event)
	{
		if(event.key === 'Enter')
		{
			let page = Number(pageInput.value);
			if(!isNaN(page))
			{
				let teamID = @Model.TeamID;
				let isActive = "@(Model.IsActive.HasValue ? (Model.IsActive.Value ? "true" : "false") : "all")";
				let sort = "@(Model.SortOrder != "" ? Model.SortOrder : "default")";
				window.location.href = `/nfl/players?page=${page}&team=${teamID}&active=${isActive}&sort=${sort}`;
			}
			else
			{
				alert("Page number must be numeric");
				pageInput.value = @Model.CurrentPage;
			}
		}
	});

	function Redirect(link)
	{
		window.open(link, "_blank");
	}

	function LoadActive()
	{
		let isActive = document.getElementById("activeSelect").value;
		window.location.href = `/nfl/players?active=${isActive == "Active" ? "True" : isActive == "Retired" ? "False" : isActive}`;
	}
</script>
