@model IQSport.ViewModels.F1.F1DriversViewModel
@using SportsData.Models
@{
    ViewData["title"] = "F1 Drivers";
}

<html>
<head>
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/Sports css/f1.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Common css/common.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>F1 Drivers</h2>

        <!-- Controls -->
        <div class="controls">
            <div class="page-control">
                <p>Page</p>
                <div>
                    <input type="text" min="1" max="@Model.MaxPage" id="pageInput" value="@Model.CurrentPage" />
                    <span>/ @Model.MaxPage</span>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="table-container">
            <table class="players-table">
                <thead>
                    <tr class="sort-links">
                        <th>
                            <a asp-controller="f1" asp-action="AllDrivers"
                               asp-route-page="@Model.CurrentPage"
                               asp-route-sort="@(Model.SortOrder == "name_asc" ? "name_desc" : "name_asc")">
                                Driver
                            </a>
                        </th>
                        <th>Code</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @foreach (F1DriverInfo driver in Model.F1Driver)
                        {
                            <tr>
                                <td data-label="Driver">
                                    <a href="@Url.Action("Drivers", "F1")>
                                        @(driver.Name ?? "Unknown")
                                    </a>
                                </td>
                                <td data-label="Code">
                                    <a href="@Url.Action("Drivers", "F1")">
                                        @(driver.Code ?? "Unknown")
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <a asp-controller="f1" asp-action="AllDrivers"
               asp-route-page="1"  asp-route-sort="@Model.SortOrder" role="button"><<</a>
            <a asp-controller="f1" asp-action="AllDrivers"
               asp-route-page="@(Model.CurrentPage > 1 ? Model.CurrentPage-1 : 1)"
               asp-route-sort="@Model.SortOrder" role="button"><</a>
            <a asp-controller="f1" asp-action="AllDrivers"
               asp-route-page="@(Model.CurrentPage < Model.MaxPage ? Model.CurrentPage+1 : Model.MaxPage)"
               asp-route-sort="@Model.SortOrder" role="button">></a>
            <a asp-controller="f1" asp-action="AllDrivers"
               asp-route-page="@Model.MaxPage"
               asp-route-sort="@Model.SortOrder" role="button">>></a>
        </div>
    </div>

    <script>
        let pageInput = document.getElementById('pageInput');
        pageInput.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                let page = Number(pageInput.value);
                if (!isNaN(page)) {
                    window.location.href = `/f1/AllDrivers?page=${page}&sort=${@Model.SortOrder}`;
                } else {
                    alert("Page number must be numeric");
                    pageInput.value = @Model.CurrentPage;
                }
            }
        });
    </script>
</body>
</html>