@using SportsData.Models
@model NFLTeamSeasonInfo
@{
    ViewData["title"] = "NFL Team";
}

<html>
<head>
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/Sports css/nfl.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Common css/common.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>@Model.Name</h2>
        <hr />
        @if (Model.TeamStat?.Season == -1)
        {
            <h3>Overall Stats</h3>
        }
        else
        {
            <h3>@Model.TeamStat?.Season Stats</h3>
        }
        <hr />
        <div class="stats-section">
            <h5>Rushing Touchdowns: <span class="stat">@Model.TeamStat?.RushingTouchdowns</span></h5>
            <h5>Receiving Touchdowns: <span class="stat">@Model.TeamStat?.ReceivingTouchdowns</span></h5>
            <h5>Total Touchdowns: <span class="stat">@Model.TeamStat?.TotalTouchdowns</span></h5>
            <h5>Extra Points: <span class="stat">@Model.TeamStat?.ExtraPointsMade</span></h5>
            <h5>Two Points: <span class="stat">@Model.TeamStat?.TwoPoints</span></h5>
            <h5>Field Goals: <span class="stat">@Model.TeamStat?.FieldGoalsMade</span></h5>
            <h5>Field Goal Attempts: <span class="stat">@Model.TeamStat?.FieldGoalAttempts</span></h5>
            <h5>Wins: <span class="stat">@Model.TeamStat?.Wins</span></h5>
            <h5>Losses: <span class="stat">@Model.TeamStat?.Losses</span></h5>
            <h5>Ties: <span class="stat">@Model.TeamStat?.Ties</span></h5>
            <h5>Rushing Yards: <span class="stat">@Model.TeamStat?.RushYards</span></h5>
            <h5>Passing Yards: <span class="stat">@Model.TeamStat?.PassingYards</span></h5>
            <h5>Interceptions: <span class="stat">@Model.TeamStat?.Interceptions</span></h5>
        </div>
    </div>
</body>
</html>